.history-intro {
	padding-top: 80px;
	padding-bottom: 38px;

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 139px;
		padding-bottom: 120px;
	}

	&__row {
		display: flex;
		flex-direction: column-reverse;

		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 1.17fr 1fr;
			grid-gap: 32px 32px;
		}
	}

	&__col-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		position: relative;
		z-index: 1;
		color: $color-black;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 122px;}
	}

	&__title-block {
		display: inline-block;
		opacity: 0;
		transform: translateY(30px);
		filter: blur(10px);
	}

	&__col-img {
		position: relative;
		z-index: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		column-gap: 37px;
		padding-left: 58px;
		padding-bottom: 42px;

		@media (min-width: $breakpoint-desktop-min) {
			justify-content: flex-start;
			padding-left: 0;
			padding-bottom: 130px;
		}
	}

	&__col-img-back {
		position: absolute;
		z-index: -1;
		top: 37%;
		left: 41%;
		width: 59%;
		height: 90%;
		background-color: #F1F1F1;
		opacity: 0;

		@media (min-width: $breakpoint-desktop-min) {
			top: 11%;
			left: 12%;
			width: 57%;
			height: 97%;}
	}

	&__img {
		display: block;
		opacity: 0;

		&--n1 {
			max-width: 90%;
			transform: translateY(60px);

			@media (min-width: $breakpoint-desktop-min) {
				max-width: unset;
			}
		}

		&--n2 {
			display: none;
			@media (min-width: $breakpoint-desktop-min) {
				display: block;
				transform: translateY(230px);
			}
		}
	}
}
