.history-intro {
	padding-top: 139px;
	padding-bottom: 120px;

	&__row {
		display: grid;
		grid-template: auto / 1.17fr 1fr;
		grid-gap: 32px 32px;
	}

	&__col-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin-bottom: 122px;
		color: $color-black;
	}

	&__title-block {
		display: inline-block;
		opacity: 0;
		transform: translateY(30px);
		filter: blur(10px);
	}

	&__col-img {
		position: relative;
		z-index: 0;
		display: flex;
		align-items: flex-start;
		column-gap: 37px;
		padding-bottom: 130px;
	}

	&__col-img-back {
		position: absolute;
		z-index: -1;
		top: 11%;
		left: 12%;
		width: 57%;
		height: 97%;
		background-color: #F1F1F1;
		opacity: 0;
	}

	&__img {
		display: block;
		opacity: 0;

		&--n1 {
			transform: translateY(60px);
		}

		&--n2 {
			transform: translateY(230px);
		}
	}
}
