.news-nav {
	&__nav {
		display: flex;
		margin-bottom: 15px;
		padding-top: 32px;
		padding-bottom: 12px;
		max-width: 100%;
		overflow-x: auto;

		@media (min-width: $breakpoint-desktop-min) {
			padding-top: 27px;
			padding-bottom: 27px;
		}
	}

	&__elem {
		transform: translateY(-100px);
		opacity: 0;

		&:not(:last-child) {
			border-right: 1px solid $color-black;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px 13px;
		font-size: 14px;
		line-height: 18px;
		color: #8A8A8A;
		text-transform: uppercase;
		white-space: nowrap;
		transition: color $transition-default;
		border: none;
		background-color: $color-transparent;
		font-family: inherit;

		@media (min-width: $breakpoint-desktop-min) {
			padding: 4px 50px;
			font-size: 16px;
		}

		&:hover {
			color: $color-black;
		}

		&--active {
			color: $color-black;
		}

		.news-nav__elem:first-child & {
			padding-left: 0;
		}

		.news-nav__elem:last-child & {
			padding-right: 0;
		}
	}

	&__content-box {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(100vw);
		width: 100%;
		opacity: 0;

		&--active {
			position: relative;
			transform: none;
			opacity: 1;
		}
	}
}
