.news-content {
	padding-top: 104px;
	padding-bottom: 104px;

	&__box {
		max-width: 814px;
		margin: 0 154px;
	}

	&__time {
		display: block;
		margin-bottom: 22px;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
	}

	&__title {
		margin-bottom: 33px;
		color: $color-red;
	}

	&__text {
		font-size: 28px;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 36px;
		}
	}

	&__bottom-box {
		margin-top: 90px;
	}

	&__share-text{
		margin-bottom: 12px;
		font-size: 18px;
		line-height: 1.2;
		color: $color-red;
		text-transform: uppercase;
	}

	&__bottom {
		display: flex;
	}

	&__socilals {
		margin-right: 24px;
	}

	&__print-box {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 29px;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 1px;
			height: 42px;
			background-color: rgba(#BBB, .4);
			content: "";
		}
	}

	&__print-text {
		margin-right: 14px;
		font-size: 18px;
		line-height: 1.2;
	}

	&__print-link {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55px;
		height: 55px;
		background-color: $color-white;
		border-radius: 50%;
		color: #303030;
		transition: background-color $transition-default;

		&:hover {
			background-color: #E9E9E9;
		}
	}

	&__print-link-icon {
		width: 35px;
		height: 35px;
	}
}
