.product-features {
	display: grid;
	grid-template: auto / 100%;
	padding-bottom: 30px;

	@media (min-width: $breakpoint-desktop-min) {
		grid-template: auto / repeat(2, 1fr);
		padding-bottom: 80px;
	}

	&__col {
		padding: 56px 0;
		opacity: 0;
		transform: translateY(100px);

		@media (min-width: $breakpoint-desktop-min) {
			padding: 70px;
		}

		&:nth-child(2n) {
			padding-right: 0;
		}

		&:nth-child(2n-1) {
			padding-left: 0;
		}

		&--gray {
			background-color: #FAFAFA;
		}

		&--img {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--data {
			text-align: center;

			@media (min-width: $breakpoint-desktop-min) {
				text-align: unset;
			}
		}

		&--border-right {
			@media (min-width: $breakpoint-desktop-min) {
				border-right: 1px solid #EFEFEF;
			}
		}

		&--border-bottom {
			@media (min-width: $breakpoint-desktop-min) {
				border-bottom: 1px solid #EFEFEF;
			}
		}

		&--no-padding {
			padding: 0;
		}

		&--align-center {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&--mobile-to-bottom {
			order: 10;
			@media (min-width: $breakpoint-desktop-min) {
				order: 0;
			}
		}
	}

	&__img {
		max-width: 200px;
		@media (min-width: $breakpoint-desktop-min) {
			max-width: 100%;
		}
	}

	&__title {
		margin-bottom: 27px;
		text-transform: uppercase;
		color: $color-red;
		font-weight: 400;

		@media (min-width: $breakpoint-desktop-min) {
			text-align: left;
		}
	}

	&__title-second {
		margin-bottom: 14px;
		text-transform: uppercase;
		color: $color-red;
		font-weight: 400;
		max-width: 640px;
	}

	&__text {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 23px;
			font-size: 28px;
			line-height: 34px;
		}
	}

	&__text-small {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 23px;
			font-size: 18px;
		}
	}

	&__button {
		margin-top: 33px;
		min-width: 100px;
		@media (min-width: $breakpoint-desktop-min) {
			margin-top: 50px;
			width: 100%;
			max-width: 240px;
		}
	}

	&__sub-title {
		margin-bottom: 16px;
		color: $color-red;
		text-transform: uppercase;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 5px;
		}
	}

	&__data-list {
		display: inline-grid;
		grid-template: auto / repeat(2,1fr);
		grid-row-gap: 27px;
		margin-top: 33px;
		font-size: 16px;
		line-height: 1;
		font-weight: 400;
		color: $color-black;

		@media (min-width: $breakpoint-desktop-min) {
			display: flex;
			flex-wrap: wrap;
			column-gap: 33px;
			font-size: 18px;
		}

		&--short {
			display: flex;
			flex-wrap: wrap;
			column-gap: 33px;

			@media (min-width: $breakpoint-desktop-min) {
				justify-content: center;
			}
		}
	}

	&__data-box {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__data-value {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		margin-bottom: 10px;
		border-radius: 50%;
		background-color: rgba(#F4F4F4, .74);
	}

	&__data-text {
	}

	&__line {
		height: 2px;
		margin: 60px 0;
		border: none;
		background-color: #E9E9E9;

		@media (min-width: $breakpoint-desktop-min) {
			margin: 30px 0 60px;
		}
	}
}
