.product-grid {
	display: grid;

	&--page-products {
		padding-top: 58px;
		grid-template: 331px / 100%;
		grid-auto-rows: 331px;
		grid-gap: 13px 18px;

		@media (min-width: $breakpoint-tablet-min) {
			padding-bottom: 136px;
			grid-template: 331px / repeat(2, 1fr);
			grid-auto-rows: 331px;
			grid-gap: 20px 18px;
		}

		@media (min-width: $breakpoint-desktop-min) {
			padding-top: 136px;
			padding-bottom: 136px;
			grid-template: 495px / repeat(3, 1fr);
			grid-auto-rows: 495px;
			grid-gap: 20px 18px;
		}
	}

	&--page-product {
		grid-template: 370px / 100%;
		grid-auto-rows: 370px;
		grid-gap: 20px 18px;

		@media (min-width: $breakpoint-desktop-min) {
			grid-template: 370px / repeat(4, 1fr);
			grid-auto-rows: 370px;
			grid-gap: 20px 18px;
		}

	}

}
