.product-card {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 2px solid #FAFAFA;
	background-color: $color-white;
	overflow: hidden;

	&__back-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: relative;
		z-index: 5;
		padding: 15px 13px 0;

		@media (min-width: $breakpoint-desktop-min) {
			padding: 26px 26px 0;
		}
	}

	&__features {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 9px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 12px;
			font-size: 24px;
		}

		.product-card--small & {
			margin-bottom: 6px;
			font-size: 16px;
			@media (min-width: $breakpoint-desktop-min) {
				font-size: 18px;
			}
		}
	}

	&__weight-icon {
		width: 11px;
		height: 17px;
		margin-right: 4px;

		@media (min-width: $breakpoint-desktop-min) {
			width: 17px;
			height: 22px;
			margin-right: 9px;
		}

		.product-card--small & {
			@media (min-width: $breakpoint-desktop-min) {
				width: 14px;
				height: 19px;
			}
		}
	}

	&__time-icon {
		width: 11px;
		height: 12px;
		margin-right: 4px;

		@media (min-width: $breakpoint-desktop-min) {
			width: 18px;
			height: 18px;
			margin-right: 9px;
		}

		.product-card--small & {
			@media (min-width: $breakpoint-desktop-min) {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__titles {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;

		@media (min-width: $breakpoint-desktop-min) {
			font-size: 28px;
			line-height: 32px;
		}

		&>span {
			max-width: 50%;
			&:nth-child(2n) {
				text-align: right;
			}
		}

		.product-card--small & {
			font-size: 18px;
			line-height: 21px;

			@media (min-width: $breakpoint-desktop-min) {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	&__product-img {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 100%;
		height: 100%;
		transition: transform .4s;

		.product-card:hover & {
			transform: scale(1.1);
		}
	}

	&__angle-img {
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
		width: 34%;
	}
}
