.recipes-grid {
	display: grid;

	&--cols-4 {
		grid-template: auto / 100%;
		grid-gap: 13px 14px;

		@media (min-width: $breakpoint-tablet-min) {
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 13px 14px;
		}

		@media (min-width: $breakpoint-desktop-min) {
			grid-template: auto / repeat(4, 1fr);
			grid-gap: 13px 14px;
		}
	}

	&--cols-2 {
		display: flex;

		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 12px 11px;
		}
	}

	&--cols-3 {
		grid-template: auto / 100%;
		grid-gap: 19px 19px;

		@media (min-width: $breakpoint-tablet-min) {
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 30px 19px;
		}

		@media (min-width: $breakpoint-desktop-min) {
			padding-top: 37px;
			grid-template: auto / repeat(3, 1fr);
			grid-gap: 82px 40px;
		}
	}

	&__elem {
		.recipes-grid--cols-4 & {
			&:not(:last-child) {
				margin-bottom: 13px;
			}
		}

		.recipes-grid--cols-2 & {
			&:not(:last-child) {
				@media (min-width: $breakpoint-desktop-min) {
					margin-bottom: 12px;
				}
			}
		}

		.recipes-grid--cols-3 & {
			&:last-child {
				@media (min-width: $breakpoint-desktop-min) {
					grid-column: 2/3;
				}
			}
		}
	}
}
