.recipes-grid {
	display: grid;

	&--cols-4 {
		grid-template: auto / repeat(4, 1fr);
		grid-gap: 13px 14px;
	}

	&--cols-2 {
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 12px 11px;
	}

	&--cols-3 {
		padding-top: 37px;
		grid-template: auto / repeat(3, 1fr);
		grid-gap: 19px 19px;
	}

	&__elem {
		.recipes-grid--cols-4 & {
			&:nth-child(2n) {
				transform: translateY(-37px);
			}
		}
		.recipes-grid--cols-2 & {
			&:nth-child(2n) {
				transform: translateY(-37px);
			}
		}

		.recipes-grid--cols-3 & {
			&:nth-child(3n-1) {
				transform: translateY(-87px);
			}
		}
	}
}
