.section-we-produce {
	padding-top: 97px;
	padding-bottom: 140px;

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 97px;
		padding-bottom: 140px;
	}

	&__grid {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 19px;

		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 478px auto;
			column-gap: 73px;
			margin-bottom: 149px;
		}
	}

	&__row {
		display: grid;
		grid-template: auto / repeat(2,1fr);
		grid-column-gap: 30px;

		@media (min-width: $breakpoint-desktop-min) {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	&__content {
		width: 100%;
		max-width: 716px;
		padding-bottom: 38px;
		align-self: end;
	}

	&__img-box {
		width: 100%;

		@media (min-width: $breakpoint-desktop-min) {
			width: 442px;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 33px;
	}

	&__title-part {
		display: inline-block;
	}

	&__text {
		margin-bottom: 28px;
		line-height: 30px;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 50px;
		}
	}

	&__link {
		width: 100%;
		max-width: 240px;
	}
}
