.section-we-produce {
	padding-top: 97px;
	padding-bottom: 394px;

	&__grid {
		display: grid;
		grid-template: auto / 478px auto;
		column-gap: 73px;
		margin-bottom: 149px;
	}

	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	&__content {
		width: 100%;
		max-width: 716px;
		padding-bottom: 38px;
		align-self: end;
	}

	&__img-box {
		width: 442px;
	}

	&__img {
		display: block;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 33px;
	}

	&__title-part {
		display: inline-block;
	}

	&__text {
		margin-bottom: 50px;
		line-height: 30px;
	}

	&__link {
		width: 100%;
		max-width: 240px;
	}
}
