.section-recipes-preview {
	padding-top: 40px;
	padding-bottom: 50px;

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 180px;
		padding-bottom: 180px;
	}

	&__grid {
		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 513px auto;
			column-gap: 36px;
			align-items: start;
		}
	}

	&__text-col {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $breakpoint-desktop-min) {
			position: sticky;
			top: 0;
			padding-top: 180px;
		}
	}

	&__title {
		margin-bottom: 23px;
	}

	&__text {
		margin-bottom: 47px;
		line-height: 32px;
	}

	&__link {
		width: 100%;
		max-width: 240px;
		font-size: 20px;
	}

	&__recipes-cols {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		column-gap: 11px;

		@media (min-width: $breakpoint-desktop-min) {
			column-gap: 38px;
		}
	}

	&__recipe-col {
		display: flex;
		flex-direction: column;
		row-gap: 11px;

		@media (min-width: $breakpoint-desktop-min) {
			row-gap: 78px;
		}
	}

	&__recipe {
		display: block;
	}

	&__recipe-img-box {
		overflow: hidden;
		margin-bottom: 31px;
	}

	&__recipe-img {
		display: block;
		width: 100%;
		transition: transform .4s;

		.section-recipes-preview__recipe:hover & {
			transform: scale(1.1);
		}
	}

	&__recipe-title {
		font-size: 16px;
		font-style: italic;
		line-height: 20px;
		font-weight: 500;

		@media (min-width: $breakpoint-desktop-min) {
			font-size: 28px;
			line-height: 32px;
		}

		@media (min-width: 1400px) {
			padding: 0 40px;
			font-size: 42px;
			line-height: 50px;
		}
	}

	&__video-box {
		position: relative;
		width: 100%;
		margin-bottom: 31px;
		overflow: hidden;

		&::before {
			display: block;
			padding-top: 100%;
			content: "";
		}
	}

	&__video {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform .4s;

		.section-recipes-preview__recipe:hover & {
			transform: scale(1.1);
		}
	}

	&__link-box {
		margin-top: 40px;
		text-align: center;
	}
}
