.section-market-preview {
	padding-top: 83px;
	padding-bottom: 83px;
	background: linear-gradient(359.8deg, #F8F8F8 0.17%, rgba(247, 247, 247, 0.6) 99.82%);

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 155px;
		padding-bottom: 155px;}

	&__grid {
		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 363px auto;
			grid-column-gap: 30px;
			justify-content: space-between;
			align-items: center;}
	}

	&__col {
	}

	&__title {
		margin-bottom: 11px;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 28px;}
	}

	&__text {
		max-width: 210px;
		margin-bottom: 55px;

		@media (min-width: $breakpoint-desktop-min) {
			max-width: 100%;
			margin-bottom: 32px;
		}
	}

	&__link {
		width: 100%;
		max-width: 240px;
		font-size: 22px;
	}

	&__markets-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(155px, 1fr));
		grid-auto-rows: 93px;
		grid-gap: 7px 7px;
		@media (min-width: $breakpoint-desktop-min) {
			grid-template-columns: repeat(3, minmax(308px, 1fr));
			grid-auto-rows: 180px;
			grid-gap: 14px 14px;}

	}

	&__market-link {
		//width: 100%;
		//max-width: 308px;
	}

	&__link-box {
		margin-top: 40px;
		text-align: center;
	}
}
