.section-image-back-anim {
	position: relative;
	height: 883px;

	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		width: 0;
		height: 0;
		min-width: 400px;
		min-height: 400px;
		margin: 0 auto;
		overflow: hidden;
	}

	&__img {
		width: 100vw;
		height: 100%;
		object-fit: cover;
		transform-origin: top center;
	}
}
