.section-collection {
	padding-top: 88px;
	padding-bottom: 57px;
	background: linear-gradient(359.8deg, rgba(248, 248, 248, 0.4) 0.17%, rgba(230, 230, 230, 0.52) 99.82%);

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 201px;
		padding-bottom: 0;
	}

	&__grid {
		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 454px auto;
			grid-column-gap: 24px;
			align-items: start;
		}
	}

	&__text-col {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $breakpoint-desktop-min) {
			position: sticky;
			top: 0;
			min-height: 100vh;
		}
	}

	&__title {
		margin-bottom: 21px;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 33px;
		}
	}

	&__text {
		max-width: 80%;
		margin-bottom: 33px;

		@media (min-width: $breakpoint-desktop-min) {
			max-width: 100%;
			margin-bottom: 48px;
		}
	}

	&__link {
		width: 100%;
		max-width: 152px;

		@media (min-width: $breakpoint-desktop-min) {
			max-width: 240px;
		}
	}

	&__gallery-grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 11px 11px;
		justify-content: center;
		margin-bottom: 60px;

		@media (min-width: $breakpoint-desktop-min) {
			grid-template: auto / repeat(3, 1fr);
			grid-gap: 25px 16px;
			margin-bottom: -200px;
		}
	}

	&__product-link {
		position: relative;
		height: 160px;
		padding: 12px;
		background-color: $color-white;
		overflow: hidden;

		@media (min-width: $breakpoint-desktop-min) {
			height: 420px;
			padding: 10px;
		}

		&:last-child {
			grid-column: 2/3;
		}
	}

	&__product-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
		transition: transform .4s;

		.section-collection__product-link:hover & {
			transform: translate(-50%, -50%) scale(1.05);
		}
	}

	&__link-box {
		margin-top: 40px;
		text-align: center;
	}
}
