.section-video-back {
	position: relative;
	height: 340px;
	overflow: hidden;

	@media (min-width: $breakpoint-desktop-min) {
		height: 701px;}

	&__bg {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		transform: scale(1.2);
	}
}
