.section-news-preview {
	padding-top: 80px;
	padding-bottom: 60px;

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 93px;
		padding-bottom: 124px;
	}

	&__grid {
		@media (min-width: $breakpoint-desktop-min) {
			display: grid;
			grid-template: auto / 513px auto;
			column-gap: 36px;
			align-items: start;
		}
	}

	&__text-col {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $breakpoint-desktop-min) {
			position: sticky;
			top: 0;
			padding-top: 180px;
		}
	}

	&__title {
		margin-bottom:80px;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 23px;}
	}

	&__link {
		width: 100%;
		max-width: 240px;
		font-size: 20px;
	}

	&__news-cols {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		column-gap: 11px;

		@media (min-width: $breakpoint-desktop-min) {
			column-gap: 38px;}
	}

	&__news-col {
		display: flex;
		flex-direction: column;
		row-gap: 25px;

		@media (min-width: $breakpoint-desktop-min) {
			row-gap: 105px;}

		&:nth-child(2n) {
			@media (min-width: $breakpoint-desktop-min) {
				padding-top: 137px;}
		}
	}

	&__news {
		display: block;
	}

	&__news-img {
		display: block;
		width: 100%;
		margin-bottom: 31px;
	}

	&__news-title {
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@media (min-width: $breakpoint-desktop-min) {
			padding-left: 40px;
			font-size: 28px;
			line-height: 32px;}
	}

	&__link-box {
		margin-top: 40px;
		text-align: center;
	}
}
