.text-with-image {
	background-image: linear-gradient(90deg, #F8F8F8 0%, rgba(247, 247, 247, 0.6) 65.08%);
	overflow: hidden;

	&__container {
		display: flex;
		flex-direction: column-reverse;

		@media (min-width: $breakpoint-tablet-min) {
			flex-direction: row;
			column-gap: 146px;
		}

		.text-with-image--reverse & {

			@media (min-width: $breakpoint-tablet-min) {
				flex-direction: row-reverse;
				column-gap: 60px;
			}
		}
	}

	&__col-img {
		position: relative;
		flex: 1 0;
		width: 100vw;
		margin-left: -24px;
		min-height: 342px;

		@media (min-width: $breakpoint-tablet-min) {
			width: 100%;
			max-width: 677px;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0;

		@media (min-width: $breakpoint-tablet-min) {
			width: 50vw;
		}

		.text-with-image--reverse & {
			left: unset;
			right: 0;
		}
	}

	&__col-text {
		flex: 1 1;
		padding: 80px 0;

		@media (min-width: $breakpoint-desktop-min) {
			padding: 195px 0;
		}

		.text-with-image--reverse & {
			@media (min-width: $breakpoint-desktop-min) {
				padding: 148px 0 214px;
			}
		}

		.text-with-image--page-news & {
			padding-top: 55px;
			padding-bottom: 75px;

			@media (min-width: $breakpoint-desktop-min) {
				padding-top: 88px;
				padding-bottom: 100px;
			}
		}
	}

	&__title {
		margin-bottom: 33px;
		opacity: 0;
		transform: translateX(-100px);

		.text-with-image--reverse & {
			transform: translateX(100px);
		}

		.text-with-image--page-news & {
			max-width: 560px;
		}
	}

	&__text {
		display: block;
		max-width: 610px;
		opacity: 0;
		transform: translateX(-100px);

		&:not(:last-child) {
			margin-bottom: 32px;
		}

		.text-with-image--reverse & {
			max-width: 100%;
			transform: translateX(100px);
		}

		.text-with-image--page-news & {
			max-width: 560px;
		}
	}

	&__labels {
		opacity: 0;
		transform: translateX(100px);
		margin-top: 36px;

		@media (min-width: $breakpoint-desktop-min) {
			margin-top: 50px;
		}
	}
}
