.where-buy-intro {
	@include background-image("../images/where-buy-intro/bg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
	color: $color-white;

	@media (min-width: $breakpoint-desktop-min) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__title {
		margin-bottom: 15px;
		text-transform: uppercase;
		opacity: 0;

		@media (min-width: $breakpoint-desktop-min) {
			margin-bottom: 30px;
		}

	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;

		@media (min-width: $breakpoint-desktop-min) {
			font-size: 28px;
			line-height: 32px;
		}
	}

	&__text-block {
		display: inline-block;
		opacity: 0;
		transform: translateY(30px);
		filter: blur(10px);
	}
}
