.where-buy-intro {
	@include background-image("../images/where-buy-intro/bg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 100px;
	color: $color-white;

	&__title {
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 28px;
		line-height: 32px;
		font-weight: 400;
	}
}
