.button {
	display: inline-block;
	font-family: $font-primary;
	padding: 16px;
	border: none;
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	transition: background-color $transition-default;

	&--uppercase {
		font-size: 22px;
		text-transform: uppercase;
	}

	&--nav-block {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	&--red {
		background-color: $color-red;
		color: $color-white;

		&:hover {
			background-color: #640000;
		}
	}

	&--gold {
		background-color: $color-gold;
		color: $color-white;

		&:hover {
			background-color: #76663E;
		}
	}

	&--white {
		background-color: $color-white;
		color: $color-red;

		&:hover {
			background-color: #FAFAFA;
		}
	}
}
