.header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: $color-transparent;
	color: $color-white;
	transition: color 1s ease, background-color .4s ease-in;

	@media print {
		position: relative !important;
		background-color: $color-transparent !important;
	}

	&--top {
		color: $color-black;
	}

	&--middle,
	&--permanently-white {
		background-color: $color-white;
		color: $color-black;
	}

	&--bottom {
		background-color: $color-transparent;
		color: $color-white;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-link {
		display: inline-block;
		width: 83px;
		transform: translateY(-100px);
		opacity: 0;
		transition: width .5s ease;

		@media (min-width: $breakpoint-desktop-min) {
			width: 154px;
			margin-top: 5px;
			margin-right: 30px;
		}

		.header--middle & {
			width: 64px;

			@media (min-width: $breakpoint-desktop-min) {
				width: 116px;
			}
		}

		@media print {
			transform: none !important;
			opacity: 1 !important;
			width: 116px !important;
		}
	}

	&__logo {
		width: 100%;
		flex-shrink: 0;
	}

	&__nav-box {
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 244px;
		height: 100%;
		padding: 20px 24px 46px 48px;
		background-color: $color-white;
		//box-shadow: 0 0 0 200vw rgba($color-black, .56);
		transform: translateX(100%);
		opacity: 0;


		@media (max-width: $breakpoint-desktop-min) {
			color: $color-black;
		}

		@media (min-width: $breakpoint-desktop-min) {
			display: flex;
			flex-grow: 1;
			position: static;
			flex-direction: row;
			align-items: center;
			width: auto;
			max-width: 100%;
			padding: 0;
			background-color: $color-transparent;
			box-shadow: none;
			transform: none;
			opacity: 1;
		}

		@media print {
			display: none !important;
		}
	}

	&__nav {
		height: 100%;
		overflow-y: auto;
		@media (min-width: $breakpoint-desktop-min) {
			margin: 0 auto;
			padding-bottom: 2px;
			transform: translateY(-100px);
			height: unset;
			overflow-y: unset;
		}
	}

	&__nav-list {
		display: flex;
		flex-direction: column;
		row-gap: 29px;

		@media (min-width: $breakpoint-desktop-min) {
			flex-direction: row;
			column-gap: 35px;
		}
	}

	&__nav-elem {
	}

	&__nav-link {
		position: relative;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		transition: color $transition-default;

		@media (min-width: $breakpoint-desktop-min) {
			font-size: 22px;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 1px;
			right: 0;
			height: 0.005em;
			background-color: currentColor;
			transform: scaleX(0);
			transform-origin: 0 0;
			transition: transform $transition-default;
			content: "";
		}

		&:hover {
			&::after {
				transform: scaleX(1);
			}
		}

		&--active {
			font-weight: 600;
		}
	}

	&__lang-list {
		display: flex;
		margin-top: auto;
		margin-bottom: 16px;
		padding-top: 30px;

		@media (min-width: $breakpoint-desktop-min) {
			margin: 0 30px 0 15px;
			padding-top: 0;
			padding-bottom: 2px;
			transform: translateY(-100px);
		}

		@media print {
			display: none !important;
		}
	}

	&__lang {
		position: relative;
		display: block;

		&:not(:last-child) {
			padding-right: 11px;

			&::after {
				position: absolute;
				bottom: 4px;
				right: 5px;
				width: 1px;
				height: 19px;
				background-color: currentColor;
				content: "";
			}
		}
	}

	&__lang-link {
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;
		transition: color $transition-default;

		@media (min-width: $breakpoint-desktop-min) {
			font-size: 20px;
		}

		&:hover {
			color: $color-red;
		}

		&--active {
			font-weight: 700;
		}
	}

	&__button {
		width: 100%;
		max-width: 179px;

		@media (min-width: $breakpoint-desktop-min) {
			max-width: 196px;
			transform: translateY(-100px);
		}
	}

	&__burger {
		padding: 4px;
		border: none;
		background-color: $color-transparent;
		color: inherit;
		opacity: 0;
		transform: translateY(-100px);

		@media (min-width: $breakpoint-desktop-min) {
			display: none;
		}

		@media print {
			display: none !important;
		}
	}

	&__burger-icon {
		width: 32px;
		height: 32px;
	}

	&__close-box {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 12px;

		@media (min-width: $breakpoint-desktop-min) {
			display: none;
		}
	}

	&__close {
		padding: 4px;
		border: none;
		background-color: $color-transparent;
	}

	&__close-icon {
		width: 18px;
		height: 18px;
	}
}
