.header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: $color-transparent;
	color: $color-white;
	transition: color 1s ease, background-color .4s ease-in;

	&--white {
		background-color: $color-white;
		color: $color-black;
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__logo-link {
		display: inline-block;
		width: 154px;
		margin-top: 5px;
		margin-right: 30px;
		transform: translateY(-100px);
		opacity: 0;
		transition: width .5s ease;

		.header--white & {
			width: 116px;
		}
	}

	&__logo {
		width: 100%;
	}

	&__nav {
		margin: 0 auto;
		padding-bottom: 2px;
		transform: translateY(-100px);
	}

	&__nav-list {
		display: flex;
		column-gap: 35px;
	}

	&__nav-elem {
	}

	&__nav-link {
		font-size: 22px;
		line-height: 24px;
		font-weight: 500;
	}

	&__lang-list {
		display: flex;
		margin-right: 30px;
		margin-left: 15px;
		padding-bottom: 2px;
		transform: translateY(-100px);
	}

	&__lang {
		position: relative;
		display: block;

		&:not(:last-child) {
			padding-right: 11px;

			&::after {
				position: absolute;
				bottom: 4px;
				right: 5px;
				width: 1px;
				height: 19px;
				background-color: currentColor;
				content: "";
			}
		}
	}

	&__lang-link {
		font-size: 20px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;

		&--active {
			font-weight: 700;
		}
	}

	&__button {
		width: 100%;
		max-width: 196px;
		transform: translateY(-100px);
	}
}
