.market {
	position: relative;
	display: block;
	background-color: $color-white;
	border: 1px solid rgba(#BEBEBE, .3);

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		max-width: calc(100% - 30px);
		max-height: calc(100% - 30px);
		filter: grayscale(1);
		transition: filter $transition-default;

		.market:hover & {
			filter: grayscale(0);
		}
	}
}
