.socials {
	display: flex;
	column-gap: 8px;

	@media (min-width: $breakpoint-desktop-min) {
		column-gap: 14px;
	}

	&--small {
		column-gap: 10px;
	}

	&__elem {
		display: inline-block;
	}

	&__link {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		background-color: $color-white;
		border-radius: 50%;
		color: #303030;
		transition: background-color $transition-default;

		@media (min-width: $breakpoint-desktop-min) {
			width: 72px;
			height: 72px;
		}

		&:hover {
			background-color: #E9E9E9;
		}

		.socials--small & {
			@media (min-width: $breakpoint-desktop-min) {
				width: 55px;
				height: 55px;
			}
		}

		.socials--gray & {
			background-color: #FAFAFA;

			&:hover {
				background-color: darken(#E9E9E9, 5%);
			}
		}
	}

	&__link-icon {
		width: 24px;
		height: 24px;

		@media (min-width: $breakpoint-desktop-min) {
			width: 46px;
			height: 46px;
		}

		.socials--small & {
			@media (min-width: $breakpoint-desktop-min) {
				width: 35px;
				height: 35px;
			}
		}
	}
}
