// Header
header.header
	.container.header__container
		a.header__logo-link(href="index.html")
			+picture("common/logo", "header__logo")
		nav.header__nav
			ul.header__nav-list
				li.header__nav-elem
					a.header__nav-link(href="#") История
				li.header__nav-elem
					a.header__nav-link(href="#") Технология
				li.header__nav-elem
					a.header__nav-link(href="#") Продукция
				li.header__nav-elem
					a.header__nav-link(href="#") Рецепты
				li.header__nav-elem
					a.header__nav-link(href="#") Новости
				li.header__nav-elem
					a.header__nav-link(href="#") Контакты
		ul.header__lang-list
			li.header__lang
				a.header__lang-link.header__lang-link--active(href="#") Ru
			li.header__lang
				a.header__lang-link(href="#") En
		a.button.button--red.button--nav-block.header__button(href="#") Купить
