.modal-success
	.container.modal-success__container
		.modal-success__window
			button.modal-success__close(aria-label="Закрыть")
				+svg("modal-close", true).modal-success__close-icon
			p.h4.modal-success__text
				| Спасибо,
				br
				| сообщение отправлено
