extends pug/base
append vars
	-
		title = "AIDA Главная"
		meta.description = "Описание AIDA"
block content
	.loader
		+picture("common/logo-big", "loader__logo")
		.loader__white-block
	// Section Video back
	section.section-hero-main
		.container.section-hero-main__container
			h1.h1.text-uppercase.section-hero-main__title
				span.section-hero-main__title-block Паста
				br
				span.section-hero-main__title-block по
				|
				|
				span.section-hero-main__title-block всем
				br
				span.section-hero-main__title-block правилам
			.section-hero-main__button-block
				button.section-hero-main__next-btn(aria-label="Scroll next")
					+svg("arrow-down")(class="section-hero-main__next-icon")
				a.button.button--white.section-hero-main__link-btn(href="#") Насладись вкусом
		video.section-hero-main__video-bg(preload='true', autoplay, loop, muted, poster="images/section-hero-main/video-cover.jpg")
			source(src='videos/intro.mp4', type='video/mp4')
			//-source(src='videos/footer.ogv', type='video/ogv')
			//-source(src='videos/footer.webm', type='video/webm')
	// Section History
	section.section-history
		.container
			.section-history__content-box
				h2.h2.text-semibold.text-red.section-history__title История
				p.section-history__text История бренда пасты из твердых сортов пшеницы AIDA насчитывает более семи лет. Мы производим  нашу продукцию в поистине уникальном месте – Оренбургской области. Именно здесь раскинулись самые широкие поля пшеницы твердых сортов, а климат Оренбургской области сопоставим с климатом Италии по количеству солнечных дней в году.
				a.button.button--gold.button--uppercase.section-history__link(href="#") Узнать больше
			.section-history__gallery
				.section-history__img-box.section-history__img-box--n1
					.animated-image.animated-image--history
						+picture("section-history/history1", "section-history__img animated-image__img", "jpg", "")
				.section-history__img-box.section-history__img-box--n2
					.animated-image.animated-image--history
						+picture("section-history/history2", "section-history__img animated-image__img", "jpg", "")
				.section-history__img-box.section-history__img-box--n3
					.animated-image.animated-image--history
						+picture("section-history/history3", "section-history__img animated-image__img", "jpg", "")
				.section-history__gallery-back
	// Section Image back
	.section-image-back.section-image-back--bg1
		.section-image-back__bg
		//+picture("section-image-back/bg1", "section-image-back__img", "jpg", "")
	// Section Collection
	section.section-collection
		.container
			.section-collection__grid
				.section-collection__text-col
					.section-collection__text-box
						h2.h2.text-semibold.text-red.section-collection__title
							|Разнообразие
							|
							|
							br.show-desktop
							|форм
						p.section-collection__text Откройте мир вкусов с нашей коллекцией макарон разных форм и размеров. Выберите свои любимые и создавайте вкусные блюда, которые будут удивлять ваших близких и друзей!
						a.button.button--gold.button--uppercase.section-collection__link.show-desktop(href="#") Смотреть все
				.section-collection__gallery-grid
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product1", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product2", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product3", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product4", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product5", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product6", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product7", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product8", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product9", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product10", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product11", "section-collection__product-img")
					a.section-collection__product-link(href="product.html")
						+picture("section-collection/product12", "section-collection__product-img")
					a.section-collection__product-link.show-desktop(href="product.html")
						+picture("section-collection/product13", "section-collection__product-img")
					a.section-collection__product-link.show-desktop(href="product.html")
						+picture("section-collection/product14", "section-collection__product-img")
					a.section-collection__product-link.show-desktop(href="product.html")
						+picture("section-collection/product15", "section-collection__product-img")
					a.section-collection__product-link.show-desktop(href="product.html")
						+picture("section-collection/product16", "section-collection__product-img")
				.section-collection__link-box.hide-desktop
					a.button.button--gold.button--uppercase.section-collection__link(href="#") Смотреть все
	// Section Image back
	.section-image-back.section-image-back--bg2
		.section-image-back__bg
	// Section We produce
	section.section-we-produce.container
		.section-we-produce__grid
			.section-we-produce__video-box.animated-image.animated-image--technology1.show-desktop
				video.animated-image__img(preload='true', autoplay, loop, muted, poster="images/section-we-produce/video-cover.jpg")
					source(src='videos/field.mp4', type='video/mp4')
			.section-we-produce__content
				h2.h2.text-semibold.text-red.section-we-produce__title
					span.section-we-produce__title-part.section-we-produce__title-part--n1 От колоска до вашего стола:
					br
					span.section-we-produce__title-part.section-we-produce__title-part--n2 как мы производим пасту AIDA
				p.section-we-produce__text Паста AIDA производится в России на Орской макаронной фабрике на современном оборудовании от итальянских и швейцарских производителей. Благодаря традиционной итальянской технологии и пшенице непревзойденного качества паста AIDA получается бесподобно вкусной.
				a.button.button--gold.button--uppercase.section-we-produce__link(href="#") О технологии
		.section-we-produce__row
			.section-we-produce__video-box.section-we-produce__video-box--mobile.animated-image.animated-image--technology1.hide-desktop
				video.animated-image__img(preload='true', autoplay, loop, muted, poster="images/section-we-produce/video-cover.jpg")
					source(src='videos/field.mp4', type='video/mp4')
			.section-we-produce__img-box.animated-image.animated-image--technology1
				+picture("section-we-produce/img2", "section-we-produce__img animated-image__img", "jpg", "")
	// Section Image back
	.section-image-back.section-image-back--bg4
		.section-image-back__bg
	// Section Recipes preview
	section.section-recipes-preview.container
		.section-recipes-preview__grid
			.section-recipes-preview__text-col
				h2.h2.text-semibold.text-red.section-recipes-preview__title Рецепты
				p.section-recipes-preview__text Экспериментируйте с разными формами пасты, соусами и специями. Еще больше интересных рецептов с пастой AIDA вы найдете в нашей коллекции.
				a.button.button--gold.button--uppercase.section-recipes-preview__link.show-desktop(href="#") Ко всем рецептам
			.section-recipes-preview__col
				.section-recipes-preview__recipes-cols
					.section-recipes-preview__recipe-col.section-recipes-preview__recipe-col--n1
						a.section-recipes-preview__recipe(href="#")
							.section-recipes-preview__video-box
								video.section-recipes-preview__video(preload='true', autoplay, loop, muted, poster="images/section-recipes-preview/video-cover.jpg")
									source(src='videos/pasta.mp4', type='video/mp4')
							p.section-recipes-preview__recipe-title Цельнозерновая паста с тунцом
						a.section-recipes-preview__recipe(href="#")
							.section-recipes-preview__recipe-img-box
								+picture("section-recipes-preview/recipe2", "section-recipes-preview__recipe-img", "jpg", "")
							p.section-recipes-preview__recipe-title Спагетти Болоньезе
					.section-recipes-preview__recipe-col.section-recipes-preview__recipe-col--n2
						a.section-recipes-preview__recipe(href="#")
							.section-recipes-preview__recipe-img-box
								+picture("section-recipes-preview/recipe3", "section-recipes-preview__recipe-img", "jpg", "")
							p.section-recipes-preview__recipe-title Цельнозерновая паста с цукини
						a.section-recipes-preview__recipe(href="#")
							.section-recipes-preview__recipe-img-box
								+picture("section-recipes-preview/recipe4", "section-recipes-preview__recipe-img", "jpg", "")
							p.section-recipes-preview__recipe-title Мясное рагу
			.section-recipes-preview__link-box.hide-desktop
				a.button.button--gold.button--uppercase.section-recipes-preview__link(href="#") Ко всем рецептам
	// Section Image back
	.section-image-back.section-image-back--bg3
		.section-image-back__bg
	// Section News preview
	section.section-news-preview.container
		.section-news-preview__grid
			.section-news-preview__text-col
				h2.h2.text-semibold.text-red.section-news-preview__title Новости
				a.button.button--gold.button--uppercase.section-news-preview__link(href="#").show-desktop Смотреть все
			.section-news-preview__col
				.section-news-preview__news-cols
					.section-news-preview__news-col.section-news-preview__news-col--n1
						a.section-news-preview__news(href="#")
							.section-news-preview__news-img-box
								+picture("section-news-preview/news1", "section-news-preview__news-img", "jpg", "")
							p.section-news-preview__news-title 4 продукта бренда AIDA получили золотые медали на Всероссийской агропромышленной выставке «Золотая осень»
						a.section-news-preview__news(href="#")
							.section-news-preview__news-img-box
								+picture("section-news-preview/news2", "section-news-preview__news-img", "jpg", "")
							p.section-news-preview__news-title Ассортимент пасты AIDA пополнился популярным продуктом: листы для лазаньи
					.section-news-preview__news-col.section-news-preview__news-col--n2
						a.section-news-preview__news(href="#")
							.section-news-preview__news-img-box
								+picture("section-news-preview/news3", "section-news-preview__news-img", "jpg", "")
							p.section-news-preview__news-title Покупаем онлайн: теперь наша продукция доступна к покупкена самых разных онлайн-площадках
						a.section-news-preview__news(href="#")
							.section-news-preview__news-img-box
								+picture("section-news-preview/news4", "section-news-preview__news-img", "jpg", "")
							p.section-news-preview__news-title Встречайте обновление! Мы подарили новое дыхание упаковке пасты AIDA
			.section-news-preview__link-box.hide-desktop
				a.button.button--gold.button--uppercase.section-news-preview__link(href="#") Смотреть все
	// Section Image back
	.section-image-back.section-image-back--bg5
		.section-image-back__bg
	// Section Market preview
	section.section-market-preview
		.container
			.section-market-preview__grid
				.section-market-preview__col
					h2.h2.text-semibold.text-red.section-market-preview__title Мы уже здесь
					p.section-market-preview__text Пасту AIDA можно найти в магазине рядом с вами или заказать онлайн.
					a.button.button--gold.button--uppercase.section-market-preview__link.show-desktop(href="#") Выбрать магазин
				.section-market-preview__col.section-market-preview__markets-grid
					+market("ozon", "#", "")(class="section-market-preview__market-link")
					+market("utkonos", "#", "")(class="section-market-preview__market-link")
					+market("detmir", "#", "")(class="section-market-preview__market-link")
					+market("wildberries", "#", "")(class="section-market-preview__market-link")
					+market("samokat", "#", "")(class="section-market-preview__market-link")
					+market("ya-market", "#", "")(class="section-market-preview__market-link")
					+market("kazan-express", "#", "")(class="section-market-preview__market-link")
					+market("vprok", "#", "")(class="section-market-preview__market-link")
					+market("sber", "#", "")(class="section-market-preview__market-link")
				.section-market-preview__link-box.hide-desktop
					a.button.button--gold.button--uppercase.section-market-preview__link(href="#") Выбрать магазин
