html
	head
		title Список страниц
	body(style="display:flex;min-height:100vh;")
		ol(style="margin:auto")
			li
				a(href="index.html", target="_blank") Главная // +анимация

			li
				a(href="history.html", target="_blank") История // +анимация

			li
				a(href="technology.html", target="_blank") Технология

			li
				a(href="recipes.html", target="_blank") Рецепты // +анимация

			li
				a(href="recipe.html", target="_blank") Карточка рецепта // +анимация

			li
				a(href="products.html", target="_blank") Продукция // +анимация

			li
				a(href="product-v1.html", target="_blank") Карточка продукта (с рецептами) // +анимация

			li
				a(href="product-v2.html", target="_blank") Карточка продукта (с одним рецептом) // +анимация

			li
				a(href="news-list.html", target="_blank") Новости // +анимация

			li
				a(href="news-item.html", target="_blank") Карточка новости // +анимация

			li
				a(href="where-buy.html", target="_blank") Где купить // +анимация

			li
				a(href="contacts.html", target="_blank") Контакты // +анимация
