.hidden {
	display: none;
	width: 0;
	height: 0;
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-red {
	color: $color-red;
}

.text-black {
	color: $color-black;
}

.text-white {
	color: $color-white;
}

.text-semibold {
	font-weight: 600;
}
