*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-width: $mobile-width-min;
	font-family: $font-primary;
	font-size: 28px;
	line-height: 32px;
	color: $color-gray;
	-webkit-text-size-adjust: none;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}


input, textarea {
	&:focus {
		outline: none;
	}
}
