$breakpoint-desktop-min: 1200px;
$breakpoint-tablet-max: $breakpoint-desktop-min - 1px;
$breakpoint-tablet-min: 768px;
$breakpoint-mobile-max: $breakpoint-tablet-min - 1px;
$breakpoint-mobile-min: 360px;
